:root{
    --grey--color: #d7d7d7;
    --brand--color: red;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    font-size: 1.6rem;
}

a{
    text-decoration: none;
}
li {
    list-style: none;
}

main {
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar content";
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 90%;
    height: 100vh;
    width: 100%;
}

header{
    grid-area: header;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding: 0 20px;
}

header i {
    font-size: 1.5rem;
}

button {
    background: transparent;
    border: 0;
}

/* logo color */
.fa-bars {
    color: #030303;
}
.fa-youtube {
    color: var(--brand--color);
    width: 20%;
}

.header--logo {
    display: flex;
    width: 20%;
    justify-content: space-between;
    justify-self: left;
    align-self: center;
}
.header--search{
    place-self: center;
    width: 100%;
}
.header--form{
    display: flex;
}

.header--input{
    display: block;
    width: 90%;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid var(--grey--color);
}
.header--button__grey{
    background-color: var(--grey--color);
    padding: 5px;
}

.header--form .fa-microphone{
    padding-left: 10px;
}
.header--profile {
    /* justify-self: right;
    align-self: center; */
    display: flex;
    justify-content: space-around;
    width: 100%;
}

aside {
    grid-area: sidebar;
    width: 1005;
    height: 100%;
}

.aside--list li {
    padding: 15px 10px;
}

.aside--list li a {
    color: #030303;
}

.aside--list li:hover{
    background-color: #d7d7d7;
}
.tags{
    display: flex;
}
.tags li {
    margin: 0  10px;
    height: max-content;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: var(--grey--color);
}

.tags li:hover{
    background-color: #030303;
    color: white;
}